<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Post</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Deola's Blog</a></h1>
    <ul>
      <% if (user) { %>
        <li>Welcome, <%= user.firstName %></li>
        <li><a href="/logout" class="btn">Logout</a></li>
        <li><a href="/create" class="btn">create post</a></li>
      <% } else { %>
        <li><a href="/login" class="btn">Login</a></li>
        <li><a href="/create" class="btn">create post</a></li>
      <% } %>
    </ul>
  </nav>