@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
.btn:hover {
  background-color: #f1da7d;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(202, 194, 98, 0.5);
}
  
form.login {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(244, 214, 20, 0.1);
  width: 50px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #333;
}

input[type="text"],
input[type="file"],
textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

textarea {
  resize: vertical;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
}

button {
  border-radius: 36px;
  background: #FEE996;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1em;
  padding: 10px;
  transition: background-color 0.3s, transform 0.2s;
  width: 10%;
  text-transform: uppercase;
}

button:hover {
  background-color: #efce4c;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(202, 194, 98, 0.5);
}

footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}
